<p><font color="DodgerBlue"><%= username %></font>님 환영합니다.</p>
<div id="game">
	<div id="bingo">
		<table class="bingo-board">
			<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
		</table>
		<div id="user">
			<div id="list"></div>
			<div id="logs"></div>
			<input id="start_button" type="button" value="Game Start!">
			<input id="username" type="hidden" value="<%= username %>">
		</div>
	</div>
</div>