<div id="main">
    <div id="title">SNS 연습</div>
    <div id="message">
        <div class="left">
            <img class="photo" src="<%= picture %>" />
			<input class="author" id="author" type="text" value="<%= name %>" readonly/>
        </div>
        <div class="right">
            <textarea placeholder="내용을 입력하세요."></textarea>
			<br />
			<input id="write_button" type="button" value="쓰기" />
        </div>
    </div>
    <div id="wall">
		<div class="item"></div>
	</div>
</div>